<% content_for :title, @blog_post.title %>
<% content_for :head do %>
  <meta property="og:title" content="<%= @blog_post.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= request.original_url %>" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@blogapp" />
  <meta name="twitter:title" content="<%= @blog_post.title %>" />
<% end %>

<div class="flex flex-col w-full">
  <div class="flex gap-2 mb-4">
    <%= link_to "All Posts", blog_posts_path, class: "px-4 py-2 bg-gray-600 text-white rounded-md hover:underline font-medium inline-block" %>
    <%= link_to ">> #{@blog_post.title}", @blog_post, class: "text-xl text-gray-900 hover:underline mt-1 block" %>
  </div>

  <div class="flex flex-col lg:flex-row mb-4">
    <div class="lg:w-1/2 lg:mr-4 w-full">
      <%= image_tag(@blog_post.banner_image, class: "w-full h-auto max-h-[500px] object-contain") if @blog_post.banner_image.attached? %>
    </div>
  </div>

  <h1 class="font-bold text-4xl mb-2"><%= @blog_post.title %></h1>

  <!-- Display author and publication date below the title -->
  <div class="text-sm text-gray-600 mb-4">
    <span>by <%= @blog_post.admin.email %></span> • 
    <span>Published on <%= @blog_post.created_at.strftime("%a, %b %d, %Y, %I:%M %p") %></span>
  </div>

  <div class="my-2 flex flex-col gap-4">
    <div> <%= @blog_post.body %> </div>
  </div>

  <!-- Add copyright sign after body -->
  <div class="text-sm text-gray-600 mt-4">
    &copy; CricBlog
  </div>

  <div class="flex items-center gap-4 mt-8">
    <% if current_admin == @blog_post.admin %>
      <!-- Edit and Delete buttons only for blog owner -->
      <%= link_to "Edit blog", edit_blog_post_path(@blog_post), class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:underline inline-block font-medium" %>
      <%= button_to "Delete blog", @blog_post, method: :delete, data: { confirm: "Are you sure?" }, class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-800 font-medium" %>
    <% end %>

    <!-- Back to All Blogs Button (Visible to All) -->
    <%= link_to "Back to blog posts", blog_posts_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:underline inline-block font-medium" %>
  </div>
</div>
