<header class="bg-gray-600 text-white py-4">
  <div class="container mx-auto flex justify-between items-center px-4">
    <h1 class="text-2xl font-bold">
      <%= link_to "CricBlog", root_path, class: "text-white" %>
    </h1>
    
    <nav class="flex items-center gap-4">
      <%= link_to "Home", root_path, class: "hover:underline" %>
      <%= link_to "New Post", new_blog_post_path, class: "hover:underline" if current_admin %>
      
      <% if current_admin %>
        <%= button_to 'Logout', destroy_admin_session_path, method: :delete, class: 'px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-800' %>
      <% else %>
        <%= link_to "Admin Login", new_admin_session_path, class: "px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-800" %>
      <% end %>
    </nav>
  </div>
</header>
